body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 1170px;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
header nav {
  background: rgba(22, 12, 109, 0.5019607843);
  padding: 18px 0 !important;
}
header nav ul {
  gap: 42px;
}
header nav ul li a {
  font-size: 18px;
  font-weight: 600;
  color: #EFF4FA;
  transition: 0.4s;
}
header nav ul li a:hover {
  color: #1BBF00;
}
header nav button {
  background: #1BBF00;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid transparent;
  line-height: 200%;
  border-radius: 100px;
  padding: 14px 28px;
  text-transform: capitalize;
}

#banner {
  background: url("../images/bannerbg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}
#banner .shapeOne {
  position: absolute;
  top: 304px;
  left: 31px;
}
#banner .shapeTwo {
  position: absolute;
  right: 310px;
  bottom: 73px;
}
#banner .overlay {
  width: 100%;
  height: 100%;
  background: rgba(107, 98, 197, 0.9);
  padding-top: 246px;
  padding-bottom: 254px;
}
#banner .overlay h1 {
  font-size: 84px;
  font-weight: 700;
  color: #FAFAFE;
}
#banner .overlay p {
  font-family: "Paprika", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #E6E5F3;
  max-width: 715px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 16px;
}
#banner .overlay button {
  background: #1BBF00;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid transparent;
  line-height: 200%;
  border-radius: 100px;
  padding: 14px 28px;
  text-transform: capitalize;
}
#banner .overlay button:hover {
  background: transparent;
  border: 1px solid #1BBF00;
}

#fun-fact {
  background: url("../images/funbg.png") no-repeat center;
  background-size: cover;
}
#fun-fact .row {
  padding: 282px 0;
  margin: 0 -40px;
}
#fun-fact .row h1 {
  padding-left: 50px;
  font-size: 64px;
  font-weight: 800;
  line-height: 68px;
  color: #1BBF00;
}
#fun-fact .row p {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #141135;
}

#choose-us {
  background: url("../images/choosebg.png") no-repeat center;
  background-size: cover;
}
#choose-us .row {
  padding: 100px 0 91px 0;
}
#choose-us .row .col-lg-8 ul li {
  padding: 42px 28px;
  list-style: none;
  font-family: "Paprika", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726E9E;
}
#choose-us .row .col-lg-8 ul li span {
  padding: 42px 28px;
  width: 366px;
}
#choose-us .row .col-lg-8 ul li:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
#choose-us .row .col-lg-4 {
  margin-right: 0;
}
#choose-us .row .col-lg-4 h1 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
}
#choose-us .row .col-lg-4 p {
  font-family: "Paprika", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726E9E;
  margin: 9px 0 41px 0;
}
#choose-us .row .col-lg-4 button {
  background: #1BBF00;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid transparent;
  line-height: 200%;
  border-radius: 100px;
  padding: 14px 28px;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */