#choose-us{
    background: url("../images/choosebg.png") no-repeat center;
    background-size: cover;
    .row{
        padding: 100px 0 91px 0;
        .col-lg-8{
            ul{ 
                li{
                    span{
                        padding: 42px 28px;;
                        width: 366px;
                    }
                    padding: 42px 28px;
                    list-style: none;
                    font-family: "Paprika", serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #726E9E;
                    &:hover{
                        -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
                        -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
                        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
                    }
                }
            }
        }
        .col-lg-4{
            margin-right: 0;
            h1{
                font-size: 48px;
                font-weight: 700;
                color: #141135;
            }
            p{
                font-family: "Paprika", serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                color: #726E9E;
                margin: 9px 0 41px 0;
            }
            button{
                @include button;
            }
        }
    }
}