#fun-fact{
    background: url("../images/fun-bg.png") no-repeat center;
    background-size: cover;
    .row{
        padding: 282px 0;
        margin: 0 -40px;
        h1{
            padding-left: 50px;
            font-size: 64px;
            font-weight: 800;
            line-height: 68px;
            color: #1BBF00;
        }
        p{
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            color: #141135;
        }
    }
}