.container{
    max-width: 1170px;
}

$primary: #160c6d80;
a{
    text-decoration: none;
}
@mixin button($theme: #1BBF00) {
    background: $theme;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid transparent;
    line-height: 200%;
    border-radius: 100px;
    padding: 14px 28px;
    text-transform: capitalize;
  }